@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #FAFA0B;
  --text-color: #333;
  --background-color: #ffffff;
  --accent-color: #d88c3f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jura', sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}